.previewArticleBig {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    height: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 15px;
height: 15px;
}

::-webkit-scrollbar-track {
border: 1px solid $color-primary;
border-radius: 15px;
}

::-webkit-scrollbar-thumb {
background: $color-primary;
border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
background: $color-primary;
}
