.contact{
	display: flex;
	flex-direction: column;
	// align-items: center;
	
	&__bloc{
		display: flex;
		align-items: center;
		margin: 3rem 0 3rem 10rem;


		@include respond(tab-port) {
			margin: 3rem 0 3rem 8rem;
		}

		@include respond(phone) {
			margin: 3rem 0;
			flex-direction: column;
			// align-items: center;
			justify-content: center;
		}

		@include respond(phone-small) {
			// margin: 3rem 0 3rem 2rem;
		}

		&--info{
			font-size: 3.5rem;

			@include respond(tab-port) {
				font-size: 3rem;
			}

			@include respond(phone) {
				font-size: 2.8rem;
			}

			@include respond(phone-small) {
				font-size: 1.9rem;
			}
		}	

		&--info a{
			text-decoration: none;
		}
	}

	&__qrcode,
	&__facebook,
	&__mail{
		width: 20rem;

		@include respond(tab-port) {
			width: 14rem;
		}

		@include respond(phone) {
			width: 10rem;
		}

		@include respond(phone-small) {
			width: 7.5rem;
		}
	}
}
