.index{
	flex: 1;

	&__header{
		&--banner{
			// margin: 0 auto;
		}

		&--presentation{
			display: flex;
			justify-content: space-between;
			&-logo {

			}
			&-moto{

			}
			&-owner{

			}
		}
	}

	&__content{
		
	}
}

.slidingBanner{
	// width: 400;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}
