.index{
	flex: 1;

	&__header{
		&--banner{
			// margin: 0 auto;
		}

		&--presentation{
			display: flex;
			justify-content: space-between;
			&-logo {
				flex-grow: 2;
				width: 50%;
				&-image{
					max-height: 25rem;
				}	
			}
			&-moto{
				flex-grow: 1;
				background-color: orange;
				width: 25%;
			}
			&-owner{
				flex-grow: 1;
				background-color: pink;
				width: 25%;
			}
		}
	}

	&__content{
		
	}
}

.slidingBanner{
	// width: 400;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;

	@include respond(tab-port) {
		width: 75%;
	}

	@include respond(port) {
		width: 100%;
	}

}




