.index{
	flex: 1;

	&__header{
		&--banner{
			// margin: 0 auto;
		}
	}

	&__content{
		
	}
}

.slidingBanner{
	// width: 400;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;

	@include respond(tab-port) {
		width: 75%;
	}

	@include respond(port) {
		width: 100%;
	}

}




