.cardStd{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: var(--color-grey-light-2);
	justify-content: space-around;

	&__card{
		margin: 2rem 1.5rem;
		flex: 1;
		flex-basis: 30%;
		background-color: white;
		max-width: 300px;
		min-width: 270px;
		box-shadow: 0 2rem 5rem rgba(#000, .15);
		cursor: pointer;
	}
}

.standart {
	display: grid;
	grid-template-columns: repeat(2, 1fr);


	&__img{
		// width: 300px;
		width: 100%;
		background-color: var(--color-grey-light-1);
		grid-column: 1 / -1;
	}

	&__serie{
		grid-column: 1 / -1;

	}

	&__style{

	}

	&__grade{

	}

	&__engine{

	}

	&__price{

	}
}
