.cardStd{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: var(--color-grey-light-2);
	justify-content: space-around;
	padding: 0rem 0 4rem 0;

	&__card{
		margin: 2rem 1.5rem;
		flex: 1;
		flex-basis: 30%;
		background-color: white;
		max-width: 300px;
		min-width: 219px;
		box-shadow: 0 2rem 5rem rgba(#000, .15);
		cursor: pointer;	
	}
}

.standart {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	// grid-row-gap: 4.5rem;

	@include respond(phone-small) {
		display: flex;
		flex-direction: column;
		text-align: center;
	}


	&__img{
		// width: 300px;
		width: 100%;
		background-color: var(--color-grey-light-1);
		grid-column: 1 / -1;
		grid-row: 1/2
	}

	&__serie{
		grid-row: 1/2;
		grid-column: 1 / -1;
		justify-self: center;
		align-self: end;
		z-index: 3;


		width: 80%;
		font-family: var(--font-display);
		font-size: 2.3rem;
		text-align: center;
		padding: 0.8rem;
		background-color: var(--color-grey-dark-1);
		color: var(--color-white);
		font-weight: 400;
		transform: translateY(75%);

		@include respond(phone) {
			padding: 0rem;
		}
		
		@include respond(phone-small) {
			width: 100%;
			transform: translateY(0%);
		}
	}


	&__style,
	&__grade {
		margin-top: 5rem;
		min-height: 8.2rem;
		display: flex;
		align-items: center;
		font-size: 1.7rem;
		margin-left: 2rem;
		span {
			margin-right: 1rem;
		}

		@include respond(phone) {
			// min-height: 10.7rem;
		}
		
		@include respond(phone) {
			flex-direction: column;
			min-height: 10.7rem;
		}

		@include respond(phone-small) {
			display: none;
		}

		
	}

	&__engine,
	&__price {
		display: flex;
		align-items: center;
		min-height: 8rem;
		font-size: 1.7rem;
		margin-left: 2rem;
		span {
			margin-right: 1rem;
		}

		@include respond(phone) {
			flex-direction: column;
		}

		@include respond(phone-small) {
			display: none;
		}

	}

	&__icons{
		color: var(--color-grey-dark-2);

	}

}
