.thegrid__presentation{	
	&-logo {
		background-color: var(--color-primary);
		grid-column: full-start / col-end 4;	
		background-image: linear-gradient(rgba(#ed343c, .5), rgba(#ed343c, .5)), url(../public/images/backRe2.jpg);
		background-size: cover;
		
		display: grid;
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: repeat(6, 1fr);
		align-items: center;

		@include respond(tab-port) {
			grid-column: 1/-1;
			padding: 3rem;
		}

	}

	&-image1{
		width: 100%;
		grid-row: 2/6;
		grid-column: 2/6;
		box-shadow: 0 2rem 5rem rgba(#000, .1);
	
		@include respond(tab-port) {
			grid-column: 1/5;
			grid-row: 1/-1;
		}
	}

	&-image2{
		width: 120%;
		grid-row: 4/6;
		grid-column: 4/7;
		z-index: 20;
		// box-shadow: 0 2rem 5rem rgba(#000, .2)
		@include respond(tab-port) {
			grid-row: 1/-1;
			width: 100%;
		}
	}	

	&-moto{
		// background-color: yellow;
		background-color: var(--color-grey-light-4);
		grid-column: col-start 5 / full-end;
		padding: 3rem 3vw;
		
		display: flex;

		@include respond(tab-port) {
			grid-column: 1/-1;
			grid-row: 1/2;
		}

		@include respond(phone) {
			grid-column: 1/-1;
			grid-row: 1/2;
			flex-direction: column;
		}


	}

	&-moto1{
		padding: 0 2vw 0 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		&-text{
			font-size: 2rem;
			font-style: italic;
			font-family: var(--font-thai);
		}
	}

	&-moto2{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		&-image{
			max-height: 8rem;
			border-radius: 50%;
		}
		
		@include respond(phone) {
			// display: none;
			min-height: 23rem;
			align-items: center;
		}
		
		@include respond(phone-small) {
			// display: none;
			min-height: 23rem;
			align-items: center;
		}

	}
}

