.thegrid__presentation{
	&-logo {
		background-color: orange;
		grid-column: full-start / col-end 4;	

		&-image{
			max-height: 22rem;
		}	
	}
	&-moto{
		// background-color: yellow;
		background-color: var(--color-grey-light-4);
		grid-column: col-start 5 / col-end 7;
		padding: 3rem 3vw;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		&-text{
			font-size: 2rem;
			font-style: italic;
		}
	}

	&-owner{
		background-color: var(--color-grey-light-4);
		grid-column: col-start 8 / full-end;
		padding: 1.5rem 1vw;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		&-image{
			max-height: 8rem;
			border-radius: 50%;
		}
	}
}

