.reviews{
    	background-color: var(--color-grey-light-3);
	&__listIndex{
		padding: 4rem 0;
	}

	&__btnIndex{
		display: flex;
		justify-content: space-around;
		padding: 2rem 0;
	}
}


.story {
    width: 75%;
    margin: 1rem auto;
    box-shadow: 0 3rem 6rem rgba(var(--color-black), .1);
    // background-color: rgba(var(--color-white), .6);
    background-color: var(--color-grey-light-1);
    border-radius: 3px;
    padding: 2rem 6rem 12rem 6rem;
    font-size: 2rem;
    border-bottom: 2px solid var(--color-grey-dark-3);
    box-shadow: 0 2rem 5rem rgba(#000, .15);

    @include respond(tab-port) {
        width: 90%;
        padding: 4rem;
        padding-left: 7rem;
	min-height: 23rem;
    	background-color: var(--color-grey-light-3);
    	margin: .5rem auto;
    }
    @include respond(phone) {
        width: 95%;
        transform: skewX(0);
	display: flex;
	flex-direction: column;
    	padding: 1rem 3rem 6rem 3rem;
    }
    @include respond(phone-small){
    	padding: 1rem 1.5rem 6rem 1.5rem;
    }
    &__shape {
        width: 13rem;
        height: 13rem;
        float: left;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        @include respond(phone) {
            transform: translateX(-3rem) skewX(0deg);
	    width: 10rem;
	    height: 10rem;
	    margin: 0 auto;
        }
	@include respond(phone-small){
		width: 7rem;
		height: 7rem;
        }

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }
    }
    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
	@include respond(phone){
        	transform: translateX(-3rem) scale(1.4);
	}	
	@include respond(phone-small){
        	transform: translateX(-2rem) scale(1.4);
	}
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: var(--color-white);
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%); // make it blur and darker
	@include respond(phone) {

    		transform: translateX(-2rem) scale(1);
	}
    }
    &__text {
	font-family: var(--font-thai-1); 
        @include respond(phone) {
            transform: skewX(0);
	    display: flex;
	    flex-direction: column; 
        }
	
	&-details{
		display: flex;;
		@include respond(phone) {
            		transform: skewX(0);
	    		display: flex;
	    		flex-direction: column; 
        	}
		&-blc{
			padding: 0 .5rem;
		}
	}
	&-comment{
	}

	&-mr {
		font-family: var(--font-thai-1); 
		font-size: 2.2rem;
		font-weight: bold;
		@include respond(phone) {
			font-size: 1.8rem;
		}
    	}
    }
}
