.reviews{
    	background-color: var(--color-grey-light-3);
	&__listIndex{
		padding: 4rem 0;
	}

	&__btnIndex{
		display: flex;
		justify-content: space-around;
		padding: 2rem 0;
	}
}


.story {
    width: 75%;
    margin: 1rem auto;
    box-shadow: 0 3rem 6rem rgba(var(--color-black), .1);
    // background-color: rgba(var(--color-white), .6);
    background-color: var(--color-grey-light-1);
    border-radius: 3px;
    padding: 2rem 6rem 12rem 6rem;
    font-size: 2rem;
    border-bottom: 2px solid var(--color-grey-dark-3);
    box-shadow: 0 2rem 5rem rgba(#000, .15);

    @include respond(tab-port) {
        width: 90%;
        padding: 4rem;
        padding-left: 7rem;
	min-height: 23rem;
    	background-color: var(--color-grey-light-3);
    	margin: .5rem auto;
    }
    @include respond(phone) {
        width: 95%;
        transform: skewX(0);
    }
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        @include respond(phone) {
            transform: translateX(-3rem) skewX(0deg);
        }
        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }
    }
    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: var(--color-white);
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%); // make it blur and darker
    }
    &__text {
	font-family: var(--font-thai-1); 
        @include respond(phone) {
            transform: skewX(0);
        }
    }
}
