:root {
	--color-primary: #ed343c; // red
	// --color-primary: #eb2f64; // red
	--color-primary-light: #ef4f56;
	// --color-primary-light: #FF3366;
	--color-primary-dark: #f01a26;
	// --color-primary-dark: #BA265D;
	
	--color-grey-light-1: #faf9f9;
	--color-grey-light-2: #f4f2f2;
	--color-grey-light-3: #f0eeee;
	--color-grey-light-4: #ccc;
	
	--color-grey-dark-1: #333;
	--color-grey-dark-2: #777;
	--color-grey-dark-3: #999;
	
	--color-white: #fff;
	--color-black: #000;
	//FONT
	--default-font-size: 2rem;
	--font-primary: 'Nunito', sans-serif;
	--font-display: 'Josefin Sans', sans-serif;
	--font-thai: 'Kanit', sans-serif;
	--font-thai-1: 'Sarabun', sans-serif;
	//BORDER
	--border-radius: 3px;
	--shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);

	//LOGO
	--color-facebook: #4267B2;
	--color-email: #0489c9;
	--color-line: #00b900;
}
/* universal selector will select all elements on the page and apply it to them. to prevent pre-setting of the differents browser.
Like it s the same for all*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /*by default box-sizing do not herite. but setting up the all page like it will make it everywhere*/
    box-sizing: inherit;
}


/*html element is the root font-size. so set it up, and then we use rem with all other font-size
(like this we can modify this one, and all get modify)*/

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    	// background-color: red;
	background-image:linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	
	// come from typo
	font-family: "Nunito", sans-serif;
    	font-weight: 400;
    	/*font-size: 16px;*/
    	line-height: 1.6;
    	/*predefine the line-height 1.7 fois bigger than the default one*/
    	color: var(--color-grey-dark-2);
    	/*so from ire all the child class of the doc herite de border-box*/
    	box-sizing: border-box;
    	font-size: var(--default-font-size);
}

.thegrid {
	display: grid;
	// grid-template-rows: 80vh min-content 40vw min-content;
	grid-template-rows: 60vh min-content;
	grid-template-columns: [full-start]minmax(6rem, 1fr)[center-start]repeat(8,[col-start]minmax(min-content, 14rem)[col-end])[center-end]minmax(6rem, 1fr)[full-end];
	
	@include respond(phone) {
		grid-template-rows: 73vh min-content;
		// grid-template-columns: [full-start]minmax(4rem, 1fr)[center-start]repeat(8,[col-start]minmax(min-content, 10rem)[col-end])[center-end]minmax(4rem, 1fr)[full-end];
	}
	// @include respond(phone-small) {
	// 	grid-template-rows: 83vh min-content;
	// }

}

