%heading{
	font-family: var(--font-display);
	font-weight: 400;
}

.heading-1{
	@extend %heading;	

	@include respond(tab-port) {
		font-size: 4.2rem;
	}

	@include respond(phone) {
		font-size: 4.2rem;
	}

	@include respond(phone-small) {
		font-size: 3.2rem;
	}
}

.heading-2{
	@extend %heading;	
	font-size: 4rem;
	font-style: italic;
	line-height: 1;

	&--light {color: var(--color-grey-light-1);}
	&--dark {color: var(--color-grey-dark-1);}
}

.heading-3{
	@extend %heading;	
	font-size: 1.6rem;
	color: var(--color-primary);
	text-transform: uppercase;

}

.heading-4{	
	@extend %heading;	
	&--light {color: var(--color-grey-light-1);}
	&--dark {color: var(--color-grey-dark-1);}

}


.heading-thai-1{
	font-family: var(--font-thai);
	font-size: 4.5rem;
	
	@include respond(tab-port) {
		font-size: 4rem;
	}

	@include respond(phone) {
		font-size: 3.2rem;
	}
}


// %heading-thai{
// 	font-family: var(--font-thai);
// 	// font-weight: 400;
// }
// 
// .heading-thai-1{
// 	@extend %heading;	
// }
// 
// .heading-2{
// 	@extend %heading;	
// 	font-size: 4rem;
// 	font-style: italic;
// 	line-height: 1;
// 
// 	&--light {color: var(--color-grey-light-1);}
// 	&--dark {color: var(--color-grey-dark-1);}
// }
// 
// .heading-3{
// 	@extend %heading;	
// 	font-size: 1.6rem;
// 	color: var(--color-primary);
// 	text-transform: uppercase;
// }
// 
// .heading-4{	
// 	@extend %heading;	
// 	&--light {color: var(--color-grey-light-1);}
// 	&--dark {color: var(--color-grey-dark-1);}
// }

// .framework__body {
//     font-family: "Lato", sans-serif;
//     font-weight: 400;
//     /*font-size: 16px;*/
//     line-height: 1.7;
//     /*predefine the line-height 1.7 fois bigger than the default one*/
//     color: $color-grey-dark-2;
//     /*so from ire all the child class of the doc herite de border-box*/
//     box-sizing: border-box;
//     font-size: $default-font-size;
// }
