@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

/*
0-600px: phone
600-900px: tablet portrait
900-1200px: tablet landscape
[1200-1800] our actual code
1800px ++ big desktop

$breackpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

// that is the order to apply the media-query
// Base + typography > general layout + grid > page layout > component
// in media query, our original setting for font-size won t work with rem and em.
// for media query we use em, not rem bc rem won t work on every browser
// 1em = 16px, and in our _base.scss file we setted our rem like it '100% = 16px dc 62.5% = 10px'
// so on fait l'operation px/16:
@mixin respond($breackpoint) {
    @if $breackpoint==phone {
        @media only screen and (max-width: 37.5em) {
            // 600px/16
            @content
        };
    }
    @if $breackpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            // 900px
            @content
        };
    }
    @if $breackpoint==tab-land {
        @media only screen and (max-width: 75em) {
            // 1200px
            @content
        };
    }
    @if $breackpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            // 1800px
            @content
        };
    }
}

