.sidebar {
	background-color: var(--color-grey-dark-1);
	flex: 0 0 18%;
	min-width: 172px;
	&__items{
		position: fixed;
	}

	@include respond(phone) {
		min-height: 23rem;
	}

}

.smallsidebar {
	//  display: none;
	background-color: var(--color-grey-dark-1);
	min-width: 55px;
	flex: 0 0 5%;

	@include respond(tab-port) {
		// display: block;
		min-width: 50px;
		min-height: 4rem;
	}

	@include respond(phone) {
		// display: block;
		min-height: 4rem;
	}
}

// .backdrop{
// 	flex: 1;
//     	z-index: 100;
//     	background-color: rgba(0, 0, 0, 0.5);
// }

.views{
	position: relative;

	&__backdrop{
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 100;
    		background-color: rgba(0, 0, 0, 0.5);
    		// background-color: black;
		opacity: .2;
	}

	&__component{
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.imgDrop img{
	position: relative;
	z-index: 50;
}
