.sidebar {
	background-color: var(--color-grey-dark-1);
	flex: 0 0 25%;
	min-width: 27rem;
	&__items{
		position: fixed;
		// margin-top: 8rem;
		width: 24rem;
		// display: flex;
		// flex-direction: column;

		a {
			margin-top: 2rem;
			padding-left: 1rem;
			position: fixed;
			color: white;
			text-decoration: none;
			font-size: 3rem;
			// padding: 1rem 0 1rem 0;
		}

		a:hover{

			background-color: var(--color-primary-dark);
			width: 50%;
			
			@include respond(phone) {
				width: 100%;
				// padding: 1rem 0 1rem 0;
			}
		}
	}
	&__icons{
		// position: fixed;
		color: var(--color-primary-light);
	}

	// @include respond(tab-port) {
	// 	// flex: 0 0 25%;
	// 	min-width: 27rem;
	// }

	@include respond(phone) {
		min-height: 28rem;
		width: 100%;
		// padding: 1rem 0 1rem 0;
	}

}

.smallsidebar {
	//  display: none;
	background-color: var(--color-grey-dark-1);
	min-width: 59px;
	flex: 0 0 5%;
	justify-content: center;

	@include respond(tab-port) {
		// display: block;
		// min-width: 50px;
		min-height: 4rem;
	}

	@include respond(phone) {
		// display: block;
		min-height: 4rem;
		display: flex;
		justify-content: center;
	}

	&__icons{
		position: fixed;
		font-size: 5.8rem;
		color: var(--color-primary-light);
		@include respond(phone) {
			position: absolute;
			font-size: 4.3rem;
		}

	}
}

// .backdrop{
// 	flex: 1;
//     	z-index: 100;
//     	background-color: rgba(0, 0, 0, 0.5);
// }

.views{
	position: relative;

	&__backdrop{
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 100;
    		background-color: rgba(0, 0, 0, 0.5);
    		// background-color: black;
		opacity: .2;
	}

	&__component{
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.imgDrop img{
	position: relative;
	z-index: 50;
}
