.sidebar {
	background-color: var(--color-grey-dark-1);
	flex: 0 0 18%;
	min-width: 150px;
	&__items{
		position: fixed;
	}
}

.smallsidebar {
	background-color: var(--color-grey-dark-1);
	min-width: 40px;
	flex: 0 0 5%;
}

// .backdrop{
// 	flex: 1;
//     	z-index: 100;
//     	background-color: rgba(0, 0, 0, 0.5);
// }

.views{
	position: relative;

	&__backdrop{
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 100;
    		background-color: rgba(0, 0, 0, 0.5);
    		// background-color: black;
		opacity: .2;
	}

	&__component{
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.imgDrop img{
	position: relative;
	z-index: 50;
}
